/* this was the old texts Arial, Helvetica, sans-serif*/
body::-webkit-scrollbar {
   display: none; /* for Chrome, Safari, and Opera */
}




.nav-list {
   background: #00d89c;
 
   padding-top: 16px;
   padding-bottom: 16px;
   margin-bottom: 0px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-left: 0%;
 }
  .nav-item {
   list-style: none;
   margin-right: 2rem;
  
 }
  .nav-item a {
   text-decoration: none;
   color: white;
   transition: all 200ms ease-in;
  
 }
  .nav-link a:hover {
   color: #ffffff;
 }
  .nav-item:first-child {
   margin-right: auto;
   margin-left: 2rem;
 }






#heroflex{
   display: flex;
   align-items: center;
}


.home-hero-container{
   background-color: #3a2f6e;
   height: 93vh;
   display: flex; 
   -webkit-box;
   -webkit-flex;
   -ms-flexbox;
   /* maybe I should use float*/
  
   align-items: center;
   padding: 10%;
}


.home-media-banner{
   background-color: #e8e8e8;
   height: 85vh;
   display: flex; 
   -webkit-box;
   -webkit-flex;
   -ms-flexbox;
   /* maybe I should use float*/
  
   align-items: center;
   padding-left: 10%;
   Padding-right: 5%;
  
   background-image: url("images/Weblon_kipwebsite_moc_04.png");
   background-size: 65%;
   background-repeat: no-repeat;
   background-attachment: fixed;
  


}




















.offcanvas{
   background-color: #00d89c;
}
.nav{
   padding: 0px;
   background-color: #00d89c;
   margin-left:0%
  
}
.navbar{
   background-color: #00d89c; 
   margin-left: 0%;
   align-content: flex-end;
}
.navbar-brand{
   margin-left: 0%;
}
.nav-container{
margin-left: 10%;
display:flex;
align-content: center;


}


.nav-item{
   padding-left: 30px;
   padding-right: 30px;
   color: white;
   font-family: Montserrat;
}
.nav-link{
   color: #003c4d;
   font-weight: 500;
   font-family: Montserrat;
   padding-left: 60px;
   padding-right: 60px;
  
}
.hero-wave{
   position:absolute; bottom: -8px;
   bottom: px;
}


/* btn*/
.btn-primary-menu{
   border-radius: 4px;
   color: #003c4d;
   background-color:#00d89c ;
   border: none;
}
.btn-primary-menu:hover{
   border-radius: 2px;
   color: #003c4d;
   background-color:#02a577 ;
   border: none;
}
.btn{
   border-radius: 35px;
   color: #003c4d;
   background-color:#00d89c ;
   border: none;
   padding-top: 8px;
   padding-left: 22px;
   padding-right: 22px;
   padding-bottom: 8px;
   margin-top: 16px;
   box-shadow:   5px 5px 15px  rgba(0, 0, 0, 0.178);
  
}
.btn:hover{
   border-radius: 35px;
   color: #ffffff;
   background-color:#008bb3 ;
   border: 1px;
   border-color: #ff346f;
   padding-top: 8px;
   padding-left: 22px;
   padding-right: 22px;
   padding-bottom: 8px;
   margin-top: 16px;
   box-shadow:   1px 1px 2px  rgba(0, 0, 0, 0.178);
}


.btn2{
   border-radius: 35px;
   color: #003c4d;
   background-color:#00d89c ;
   border: none;
   padding-top: 8px;
   padding-left: 22px;
   padding-right: 22px;
   padding-bottom: 8px;
   margin-top: 22px;
   box-shadow:   5px 5px 15px  rgba(0, 0, 0, 0.178);
}
.btn2:hover{
   border-radius: 35px;
   color: #ffffff;
   background-color:#008bb3 ;
   border: 1px;
   border-color: #ff346f;
   padding-top: 8px;
   padding-left: 22px;
   padding-right: 22px;
   padding-bottom: 8px;
   margin-top: 22px;
   box-shadow:   1px 1px 2px  rgba(0, 0, 0, 0.178);
}






.btn-more:visited{
   background-color:#da129e ;
}
.btn-price{
   border-radius: 35px;
   color: #003c4d;
   background-color:#ffffff00 ;
  
   padding-top: 8px;
   padding-left: 22px;
   padding-right: 22px;
   padding-bottom: 8px;
   margin-top: 22px;
   outline-color: #00d89c;
   outline-width: 1px;
   outline-style: solid;
   
}


.btn-nav{
   border-radius: 35px;
   color: #ffffff;
   background-color:#3a2f6e ;
   border: 1px;
   border-color: #ff346f;
   padding-top: 8px;
   padding-left: 22px;
   padding-right: 22px;
   padding-bottom: 8px;
  
   box-shadow:   5px 5px 15px  rgba(0, 0, 0, 0.178);
}
.btn-nav:hover{
   border-radius: 35px;
   color: #ffffff;
   background-color:#008bb3 ;
   border: 1px;
   border-color: #ff346f;
   padding-top: 8px;
   padding-left: 22px;
   padding-right: 22px;
   padding-bottom: 8px;
   box-shadow:   1px 1px 2px  rgba(0, 0, 0, 0.178);
}


.btn-price:hover{
   border-radius: 35px;
   color: #003c4d;
   background-color:#ffffff00 ;
   border: none;
   padding-top: 8px;
   padding-left: 22px;
   padding-right: 22px;
   padding-bottom: 8px;
   margin-top: 22px;
   outline-color: #ff346f;
   outline-width: 1px;
   outline-style: solid; 
}
.btn-more{
   border-radius: 35px;
   color: #003c4d;
   background-color:#ffffff00 ;
   border: none;
   padding-top: 8px;
   padding-left: 22px;
   padding-right: 22px;
   padding-bottom: 8px;
   margin-top: 22px;
   outline-color: #ff346f;
   outline-width: 1px;
   outline-style: solid; 
   -webkit-appearance: none;
}
.btn-more:hover{
   border-radius: 35px;
   color: #003c4d;
   background-color:#ffffff00 ;
   border: none;
   padding-top: 8px;
   padding-left: 22px;
   padding-right: 22px;
   padding-bottom: 8px;
   margin-top: 22px;
   outline-color: #00d89c;
   outline-width: 1px;
   outline-style: solid; 
}
.btn-callout{
   background-color: #ff346f;
   height: 56px;
   width: 56px;
   color: rgb(255, 255, 255);
   padding: 0;
   border-radius: 50%;
   cursor: pointer;
   border: 1px solid rgba(0, 0, 0, 0.05);
   transition: 200ms opacity ease;
   position: fixed;
   right: 24px;
   bottom: 24px;
   overflow: hidden;
   display: flex;
   gap: 8px;
   align-items: center;
   justify-content: center;
   box-shadow: 0 4px 20px 4px rgb(0 0 0 / 12%);
   animation: button-fade-in 200ms ease 0s;
}
.line {
   width: 100%;
   height: 0;
   border: 1px solid #00d89c;
   margin-top: 80px;
   margin-left: 18px;


   display:inline-block;
 }


.vl {
   border-left: 2px solid #ff346f;
   height: 500px;
   position: relative;
   margin-left: 25%;
   top: 65px;
}
.vl-2 {
   border-left: 2px solid #ff346f;
   height: 200px;
   position: relative;
   margin-left: 50%;
   top: 65px;
}
.vl-3 {
   border-left: 2px solid #ff346f;
   height: 40px;
   position: relative;
   margin-left: 50%;
   top: 5px;
   margin-bottom: 25px;
}
.vl-4 {
   border-left: 2px solid #ff346f;
   height: 500px;
   margin-left: 50%;
   top: 5px;
   margin-bottom: 25px;
}


.btn-link{
   color: #008bb3;
   border: none;
   background-color:#eeeeee ;


   padding-top: 0px;
   padding-left: 0px;
   padding-right: 0px;
   padding-bottom: 8px;
   margin-top: 0px; 
}




.card-subtitle{
   color:  #008bb3; 
}


.card-subtitle:hover{
   color:  #ff346f;
}


.card-title{
   color: #003c4d;
}


.card-price-title{
   color: #ffffff;
}






/*Sroll bar*/
.progress-container {
   position: absolute;
   left: 2%;
   width: 8px;
   padding-top: 10%;
   height: 100%;
  
   border-radius: 2px;
   margin: auto;
   z-index: 2;
}




/* Link*/
a {
   outline: none;
   text-decoration: none;
   padding: 2px 1px 0;
   color: #003c4d;
 }
  a:link {
   color: #003c4d;
 }
 
  a:focus, a:hover {
  
   color: #008bb3;
 }
  a:active {
   color: #008bb3;
 }
/* Link*/






/* Text*/


h1{
   color: white;
   font-family: Montserrat;
   font-size: 120px;
   font-weight: 800;
   padding-top: 0%;
}
.h1-homepage-hero{
   color: white;
   font-family: Montserrat;
   font-size: 120px;
   font-weight: 800;
  
}
.h1-dark{
   color: #003c4d;
   font-family: Montserrat;
   font-size: 120px;
   font-weight: 800;
   padding-top: 0%;
}
.h1-page-header{
   color: white;
   font-family: Montserrat;
   font-size: 120px;
   font-weight: 800;
   padding-top: 0%;
}


h2{
   color: white;
   font-family: Helvetica;
   font-size: 79px;
   font-weight: 800;
}
.h2-dark{
   color: #003c4d;
   font-family: Montserrat;
   font-size: 79px;
   font-weight: 300;
}
h3{
   color: white;
   font-family: Helvetica;
   font-size: 56px;
   font-weight: 800;
}
.h3-dark{
   color: #003c4d;
   font-family: Montserrat;
   font-size: 56px;
   font-weight: 200;
}
.h3-solution{
   color: #003c4d;
   font-family: Montserrat;
   font-size: 56px;
   font-weight: 600;
}
.h2-solution-header{
   color: white;
   font-family: Helvetica;
   font-size: 79px;
   font-weight: 800;
   padding-top: 15%;
}
h4{
   color: white;
   font-family: Montserrat  ;
   font-size: 39px;
   font-weight: 200;
}
.h4-dark{
   color: #003c4d;
   font-family:  Montserrat ;
   font-size: 39px;
   font-weight: 100;
   line-height: 68.25px;
}
.h4-dark-plans{
   color: #003c4d;
   font-family:  Montserrat ;
   font-size: 39px;
   font-weight: 100;
   line-height: 8.25px;
}
h5{
   color: white;
   font-family: Montserrat;
   font-size: 28px;
   font-weight: 200;
}
.h5-dark{
   color: #003c4d;
   font-family: Montserrat;
   font-size: 28px;
   font-weight: 300;
   line-height: 49px;
}
.h5-bio{
   color: #003c4d;
   font-family: Montserrat;
   font-size: 28px;
   font-weight: 300;
   line-height: 30px;
}
.h5-solutions-dark{
   color: #003c4d;
   font-family: Montserrat;
   font-size: 25px;
   font-weight: 100;
   line-height: 35px;
}
p{
   color: #003c4d;
   font-family: Montserrat;
   font-size: 20px;
   font-weight: 200;
   line-height: 35px;
}
.p-icon{
   color: #003c4d;
   font-family: Montserrat;
   font-size: 20px;
   font-weight: 200;
  margin-top: auto;
  margin-bottom: auto;
 
   /*padding-top: 15px;*/
  
}
.p-small{
   color: #003c4d;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 200;
}
.p-small-footer{
   color: #ffffff;
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 200;
   margin-top: auto;
   margin-bottom: auto;
}
.display-1{
   padding-top: 25%;
}
.display-3{
  
   padding-top: 15%;
   color: #003c4d;
   font-family: Helvetica;
}
.display-2{
  
   padding-top: 15%;
   color: #003c4d;
   font-family: Helvetica;


}
.solution-vertical-text {
   writing-mode: vertical-rl;
 }


 /* sections*/
.section{
  height: 90vh;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  scroll-snap-align: start ;
}
.sectionContact{
   height: 100vh;
   margin-left: 10%;
   margin-right: 10%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   scroll-snap-align: start ;
}
.heroSection{
   height: 100vh;
   scroll-snap-align: start ;
}


.one {
   background: #ffffff;
}
.two {
   background: #ffffff;
}
.three {
   background: #ffffff;
}
.four {
   background: #008bb3;
}


.icon-image-cap{
   width: 10%;
}
/* container*/


.container-snap-scroll{
   height: 100vh;
   scroll-snap-type: y mandatory ;
   overflow-y: scroll ;
   scroll-behavior: smooth;


}


.container-fluid-nav{
   margin-left: 10%;
   margin-right: 10%; 
}
.container-fluid-home{
   background-color: #3a2f6e;
   height: 93vh;
   position: relative;  
}
.container-fluid-how-we-are{
   margin-top: 0%;
   margin-bottom: 0%;
   margin-left: 10%;
   margin-right: 10%;
   height: 85vh;
}
.container-fluid-center-aligned{
   height: 100vh;
   text-align: center;
   padding-top: 400px;
}
.container-fluid-how-we-are-new{
   margin-top: 200px;
   margin-bottom: 20%;
   margin-left: 10%;
   margin-right: 10%;
}
.container-fluid-how-we-are-new-shorter{
   margin-top: 100px;
   margin-bottom: 20%;
   margin-left: 10%;
   margin-right: 10%;
}


.container-fluid-page-header{
   margin-top: 6%;
   margin-bottom: 4%;
   margin-left: 10%;
   margin-right: 10%;
   background-color: #f5f5f7;
}


.container-fluid-solution-header-bg{
   background-color: #f5f5f7;
   display: flex;


}


.container-fluid-what-we-do{ 
   margin-top: 5%;
   margin-bottom: 10%;
   margin-left: 10%;
   margin-right: 10%;
}
.container-fluid-what-we-do-bottom{
   margin-top: 1%;
   margin-bottom: 1%;
   margin-left: 10%;
   margin-right: 10%;
}
.container-fluid-home-sign-up{
   background-color: #3a2f6e;
   height: 720px;
   position: relative;
   padding-top: 8%;
   padding-left: 10%;
   padding-right: 10%;
}
.container-fluid-hero-text{
   padding-bottom: 8%;
   padding-left: 10%;
   padding-right: 10%;
}
.container-fluid-solution-header{
   background-color: #3a2f6e;
   height: 100vh;
   position: relative; 


}
.container-fluid-solution-header-white{
   background-color: #3a2f6e;
   height: 490px;
   position: relative;
}


.container-fluid-home-icon{
   background-color: #ffffff;
 
   padding-left: 60px;
   padding-right: 60px;
   padding-top: 80px;
   padding-bottom: 80px;
  
   border-radius: 10px;
   border-left: 2px;
   outline-color: #ffffff;
   outline-width: 1px;
   outline-style: solid;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.178); 


}
/* scroll indication bar*/
.scroller-container {
   position:fixed;
   width: 100%;
   height: 5px;
   background: rgb(245, 245, 247);
 }


.progress{
   height: 5px;
   background: #3a2f6e;
   width: 0%;
   border-radius: 0px;
 }


#solution-card-container{
   display: flex;
   align-items: center;
    
}


#solution-card-container img {
   width: 90px;
   height: 90px;
  
 }


.container-fluid-home-icon2{
   background-color: #ffffff;
 
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 50px;
   padding-bottom: 50px;
  
   border-radius: 10px;
   border-left: 2px;
   outline-color: #ff346f;
   outline-width: 1px;
   outline-style: solid;


}


.form-box{
   background-image: linear-gradient( to bottom right, #ffffff, #ffffff);
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.178); 
   padding-left: 60px;
   padding-right: 60px;
   padding-top: 60px;
   padding-bottom: 60px;
   border-radius: 15px;
}
.form-box2{
   background-image: linear-gradient( to bottom right, #ffffff, #ffffff);
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.178); 
   padding-left: 3%;
   padding-right: 3%;
   padding-top: 3%;
   padding-bottom: 3%;
   border-radius: 15px;
   margin-top: 15px;
}
.form-control{
   outline-color: #ffffff;
   outline-width: 1px;
   outline-style: solid;
}


.container-fluid-more-than-url{
   margin-top: .5%;
   margin-bottom: 12%;
   margin-left: 10%;
   margin-right: 10%;
}
.container-fluid-bio-header-text{
   padding-bottom: 8%;
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 175px;
}
.container-fluid-our-team{
   margin-top: 100px;
   margin-bottom: 30%;
   margin-left: 10%;
   margin-right: 10%;
}


.container-fluid-bio-header{
   background-color: #3a2f6e;
   height: 400px;
   position: relative;
}


.solution-list{
   padding-top: 0px;
   padding-left: 00px;
   padding-right: 0px;
   padding-bottom: 100px;
   border-left: 0px;
   border-right: 0px;
   border-top: 1px;
   outline-style: 2px ;
   outline-color: #ff346f; 
}


.line-container{
   position: relative;
   top: 0px;
   left: 15%;
   width: 100%;
   Height: 950px;
   overflow: hidden;
}
svg{
   display: inline-block;
   height: 900px;


}


/* cards and stuff*/


.card{
   padding-top: 80px;
   padding-left: 80px;
   padding-right: 80px;
   padding-bottom: 80px;
   border-left: 0px;
   border-right: 0px;
   border-top: 0px;
   outline-style: 2px ;
   outline-color: #ff346f; 
}
.card-price{
   width: 90%;
   height: 600px;
   padding-top: 40px;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 40px;
   margin-top: 5%;
   border-left: 0px;
   border-right: 0px;
   border-top: 0px;
   border-radius: 15px;
   background-image: linear-gradient( to bottom right, #ffffff, #f8f8f8);
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.178); 
}
.card-price2{
   width: 90%;
   height: 200px;
   padding-top: 40px;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 40px;
   margin-top: 5%;
   border-left: 0px;
   border-right: 0px;
   border-top: 0px;
   border-radius: 15px;
  
   background-image: linear-gradient( to bottom right, #ffffff, #f1f1f1);
   box-shadow:  5px 5px 15px  rgba(0, 0, 0, 0.178);
  
}
.card-price3{
   width: 90%;
   height: 200px;
   padding-top: 40px;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 40px;
   margin-top: 5%;
   border-left: 0px;
   border-right: 0px;
   border-top: 0px;
   border-radius: 15px;
   background-image: linear-gradient( to bottom right, #ffffff, #f1f1f1);
   box-shadow:  5px 5px 15px  rgba(0, 0, 0, 0.178);
   background-image: linear-gradient( to bottom right, #ffffff, #ffffff);
   box-shadow:  2px 2px 12px rgba(0, 0, 0, 0.178);
  
}


.card-price2:hover{
   width: 90%;
   height: 200px;
   padding-top: 40px;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 40px;
   margin-top: 5%;
   border-left: 0px;
   border-right: 0px;
   border-top: 0px;
   border-radius: 15px;
   background-image: linear-gradient( to bottom right, #ffffff, #f1f1f1);
   box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.178); 


}


.card-solutions{
   display: flex;
 
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 2%;
   padding-top: 2%;
   border-left: 0px;
   border-right: 0px;
   border-top: 0px;
   border-radius: 15px;
   background-image: linear-gradient( to bottom right, #ffffff, #f1f1f1);
   box-shadow:  5px 5px 15px  rgba(0, 0, 0, 0.178);
   background-image: linear-gradient( to bottom right, #ffffff, #ffffff);
   box-shadow:  2px 2px 12px rgba(0, 0, 0, 0.178);
   margin-bottom: 5%;
}


.card-solutions:hover{
   display: flex;
 
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 2%;
   padding-top: 2%;
   border-left: 0px;
   border-right: 0px;
   border-top: 0px;
   border-radius: 15px;
   background-image: linear-gradient( to bottom right, #ffffff, #f1f1f1);
   box-shadow:  5px 5px 15px  rgba(0, 0, 0, 0.178);
   background-image: linear-gradient( to bottom right, #ffffff, #ffffff);
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.178);
   margin-bottom: 5%;
}
 




.card-subtitle{
   color:  #00d89c;
   margin-bottom: 18px;
   padding-left: 4px;
   font-size: 18px;


  
}
.card-subtitle-2{
   color:  #00d89c;
   font-size: 28px;
   margin-bottom: 8px;
   padding-left: 4px;
}
.card-subtitle:hover{
   color:  #ff346f;
}
.card-title{
   color: #003c4d;
}
.card-price-title{
   color: #ffffff;
}


.footer-new{
   display: flex;
   padding-bottom: 2%;
   padding-top: 2%;
   background-color: #3a2f6e;
   margin-bottom: 0%;
   height: 10%;
   width: 100%;
}


#footer-new-container{
   margin: auto;
   display: flex;
   align-items: center;
}
#footer_bug{
   width: 4%;
}


/* #footer-new-container{
   display: flex;
   align-items: center;
    
}
*/


footer{
   background-color: #3a2f6e;
   padding-top: 0px;
   padding-bottom: 0px;
  
  
}




.img-hero-guy{
   padding-top: 35%;
   width: 100%;
}




.solution-box{
   background-color: #e9e9e9;
   height: 100vh;
   position: sticky;
   top:60px;
   padding-left: 13%;
   padding-right: 5%;
}


.solution-box-right{
   background-color: #ffffff;
   height: 3200px;
  
   top:60px;


}


.solution-header-top{
   position:absolute; top: 0px;
   bottom: 90xp;
}


.solution-header-bottom{
   position:absolute; bottom: 0px;
   bottom: 90xp;
}








@keyframes float {
   0% {
       box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
       transform: translatey(0px);
   }
   50% {
       box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
       transform: translatey(-20px);
   }
   100% {
       box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
       transform: translatey(0px);
   }
}


























@keyframes floaty {
   from { transform: translate(0,  0px); }
   65%  { transform: translate(0px, -10px); }
   65%  { transform: translate(0px, -10); }
   to   { transform: translate(10, -0px); }   
}


.intro-text{
   display: none;
}


.intro-text-web{
   opacity: 1;
 transform: translateY(8vh);
 visibility: hidden;
 transition: opacity 0.6s ease-out, transform .6s ease-out;
 will-change: opacity, visibility;
}
.intro-text-web.is-visible {
   opacity: 1;
   transform: none;
   visibility: visible;
 }
.intro-text-web-price-card-2{
   opacity: 0;
 transform: translateY(6vh);
 visibility: hidden;
 transition: opacity 0.6s ease-out, transform 1.0s ease-out;
 will-change: opacity, visibility;
}
.intro-text-web-price-card-2.is-visible {
   opacity: 1;
   transform: none;
   visibility: visible;
 }
.intro-text-web-price-card-3{
   opacity: 0;
 transform: translateY(7vh);
 visibility: hidden;
 transition: opacity 0.6s ease-out, transform .8s ease-out;
 will-change: opacity, visibility;
}
.intro-text-web-price-card-3.is-visible {
   opacity: 1;
   transform: none;
   visibility: visible;
 }


/*AROOWS*/








/* make different break points*/






/* break point 1024 - small laptop*/
@media screen and (max-width:1024px){
   .img-hero-guy{
       padding-top: 10%;
       padding-bottom: 1%;
       width: 70%;
       }
@media screen and (max-width:1024px){
   .container-fluid-home{
       background-color: #3a2f6e;
       height: 570px;
       position: relative;
       }


@media screen and (max-width:600px){     
   .home-hero-container{
           background-color: #3a2f6e;
           height: 93vh;
           /*display: flex; 
           align-items: center;*/
           padding: 5%;
       }


@media screen and (max-width:600px){
       #heroflex{
           /*display: flex;
           align-items: center;*/
       }


/* break point 600*/
@media screen and (max-width:600px){
   .hero-wave{
       position:absolute; bottom: -8px;
       bottom: 0px;
   }
/* text*/


@media screen and (max-width:600px)
{h5{
       color: white;
       font-family: Montserrat;
       font-size: 19px;
       font-weight: 200;
   }


@media screen and (max-width:600px){
   .h1{
       color: white;
       font-family: Montserrat;
       font-size: 79px;
       font-weight: 800;
       padding-top: 0%;
   }


@media screen and (max-width:600px){
   .h1-homepage-hero{
       color: white;
       font-family: Montserrat;
       font-size: 69px;
       font-weight: 800;
      
      
   }
@media screen and (max-width:600px){
   .h1-page-header{
       color: white;
       font-family: Montserrat;
       font-size: 69px;
       font-weight: 800;
       padding-top: 8%;
       }
@media screen and (max-width:600px){
   .h1-dark{
       color: #003c4d;
       font-family: Montserrat;
       font-size: 59px;
       font-weight: 800;
       padding-top: 0%;
       line-height: 70px;
       /* if text size was to correct scale it would be 79px - I changed it to 69, but that's still tooo big*/
   }
@media screen and (max-width:600px){
   h2{
       color: white;
       font-family: Helvetica;
       font-size: 55px;
       font-weight: 800;
   }
@media screen and (max-width:600px){
   .h2-dark{
       color: #003c4d;
       font-family: Montserrat;
       font-size: 55px;
       font-weight: 300;
   }
@media screen and (max-width:600px){
   h3{
       color: white;
       font-family: Montserrat;
       font-size: 39px;
       font-weight: 800;
   }
@media screen and (max-width:600px){
   .h3-dark{
       color: #003c4d;
       font-family: Montserrat;
       font-size: 32px;
       font-weight: 200;
       /* if text size was to correct scale it would be 39px*/
   }
@media screen and (max-width:600px){
   .h3-solution{
       color: #003c4d;
       font-family: Montserrat;
       font-size: 39px;
       font-weight: 600;
   }
@media screen and (max-width:600px){
   .h2-solution-header{
       color: white;
       font-family: Helvetica;
       font-size: 79px;
       font-weight: 800;
       padding-top: 15%;
   }
@media screen and (max-width:600px){
   h4{
       color: white;
       font-family: Montserrat  ;
       font-size: 29px;
       font-weight: 200;
   }
@media screen and (max-width:600px){
   .h4-dark{
       color: #003c4d;
       font-family:  Montserrat ;
       font-size: 29px;
       font-weight: 100;
       line-height: 50px;
   }
@media screen and (max-width:600px){
   .h4-dark-plans{
       color: #003c4d;
       font-family:  Montserrat ;
       font-size: 29px;
       font-weight: 100;
       line-height: 8.25px;
   }
@media screen and (max-width:600px){
   h5{
       color: white;
       font-family: Montserrat;
       font-size: 19px;
       font-weight: 200;
       line-height: 33px;


   }
@media screen and (max-width:600px){
   .h5-dark{
       color: #003c4d;
       font-family: Montserrat;
       font-size: 19px;
       font-weight: 300;
       line-height: 33px;
   }
@media screen and (max-width:600px){
   .h5-bio{
       color: #003c4d;
       font-family: Montserrat;
       font-size: 19px;
       font-weight: 300;
       line-height: 30px;
   }


/* re visit this one*/
@media screen and (max-width:600px){
   .h5-solutions-dark{
       color: #003c4d;
       font-family: Montserrat;
       font-size: 25px;
       font-weight: 100;
       line-height: 35px;
   }


@media screen and (max-width:600px){
   p{
       color: #003c4d;
       font-family: Montserrat;
       font-size: 14px;
       font-weight: 200;
       line-height: 35px;
   }
@media screen and (max-width:600px){
   .p-icon{
       color: #003c4d;
       font-family: Montserrat;
       font-size: 18px;
       font-weight: 200;
       line-height: 31px;
       padding-top: 20px;
   }
@media screen and (max-width:600px){
   .p-small{
       color: #003c4d;
       font-family: Montserrat;
       font-size: 14px;
       font-weight: 200;
   }
@media screen and (max-width:600px){
   .p-small-footer{
       color: #ffffff;
       font-family: Montserrat;
       font-size: 14px;
       font-weight: 200;
   }
   .display-1{
       padding-top: 25%;
   }
   .display-3{
      
       padding-top: 15%;
       color: #003c4d;
       font-family: Helvetica;
   }
   .display-2{
      
       padding-top: 15%;
       color: #003c4d;
       font-family: Helvetica;
   }


/* end of text*/


@media screen and (max-width:600px){
  .line {
       width: 100%;
       height: 0;
       border: 1px solid #00d89c;
       margin-top: 50px;
       margin-left: 1px;                                                                             
       display:inline-block;
   }




/* Containers*/
@media screen and (max-width:600px){
   .container-fluid-home{
       background-color: #3a2f6e;
       height: 89vh;
       position: relative;  
   }
@media screen and (max-width:600px){
   .container-fluid-hero-text{
       padding-top:0%;
       padding-bottom: 1%;
       padding-left: 5%;
       padding-right: 2%;
   }
@media screen and (max-width:600px){
   .container-fluid-our-team{
       margin-top: 100px;
       margin-bottom: 30%;
       margin-left: 5%;
       margin-right: 5%;
   }  
@media screen and (max-width:600px){
   .container-fluid-home-icon{
       background-color: #ffffff;
       padding-left: 20px;
       padding-right: 10px;
       padding-top: 20px;
       padding-bottom: 20px;
       border-radius: 10px;
       border-left: 2px;
       box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.178); 
   }


@media screen and (max-width:600px){
   .container-fluid-how-we-are-new{
       margin-top: 100px;
       margin-bottom: 0%;
       margin-left: 5%;
       margin-right: 5%;
   }


@media screen and (max-width:600px){
   .container-fluid-how-we-are-new-shorter{
       margin-top: 100px;
       margin-bottom: 0%;
       margin-left: 5%;
       margin-right: 5%; 
   }


@media screen and (max-width:600px){
   .container-fluid-page-header{
       margin-top: 6%;
       margin-bottom: 4%;
       margin-left: 5%;
       margin-right: 5%;
       background-color: #f5f5f7;
   }




@media screen and (max-width:600px){
   .container-fluid-bio-header-text{
       padding-bottom: 8%;
       padding-left: 3%;
       padding-right: 5%;
       padding-top: 35px;
   }


@media screen and (max-width:600px){
   .container-fluid-bio-header{
       background-color: #3a2f6e;
       height: 175px;
       position: relative;
   }
/* Containers*/
 
/* Form*/
@media screen and (max-width:600px){
   .form-box{
       background-image: linear-gradient( to bottom right, #ffffff, #ffffff);
       box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.178); 
       padding-left: 35px;
       padding-right: 35px;
       padding-top: 40px;
       padding-bottom: 60px;
       border-radius: 15px;
}
/* Form*/




@media screen and (max-width:600px){
   .btn{
       border-radius: 35px;
       color: #003c4d;
       background-color:#00d89c ;
       border: none;
       padding-top: 8px;
       padding-left: 16px;
       padding-right: 16px;
       padding-bottom: 8px;
       margin-top: 16px;
       box-shadow:   5px 5px 15px  rgba(0, 0, 0, 0.178);
   }
  
@media screen and (max-width:600px){
   footer{
       background-color: #3a2f6e;
       padding-top: 0px;
       padding-bottom: 0px;
   }
@media screen and (max-width:600px){
   .offcanvas{
       background-color: #00d89c;
   }




   @media screen and (max-width:600px){
       #footer_bug{
           width: 5%;
       }
   }






























@media screen and (max-width:600px){
   .img-hero-guy{
       padding-top: 20%;
       padding-bottom: 5%;
       width: 80%;
       }


@media screen and (max-width:350px){
   .container-fluid-home{
       background-color: #3a2f6e;
       height: 93vh;
       position: relative;
       } 


@media screen and (max-width:350px){   
   .hero-wave{
       position:absolute; bottom: -3px;
       bottom: 90px;
   }


